.wrapper {
    display: grid;
    
    /* grid-template-columns: 200px 200px 200px; */
    /* grid-template-columns: 2fr 1fr 1fr; */
    grid-template-columns: 500px 1fr 2fr;
}
.box{
border: 2px solid tomato;
}